@import "tailwindcss";

:root {
  --foreground: #171717;
  --text: #eaedef;

  --background: #7095c5;
  --primary: #fecc46;
  --secondary: #0a253e;
  --accent: #c17ffd;
  --test: #daa30c;
}

@theme inline {
  --color-background: var(--background);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7095c5;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}
